@import 'tailwindcss';

@source "./src/**/*.{js,jsx,ts,tsx,mdx}";
@source "./mailers/**/*.{ts,tsx}";
@source "./public/**/*.html";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-gray-50: oklch(0.985 0 0); /* --color-zinc-50 */
  --color-gray-100: oklch(0.967 0.001 286.375); /* --color-zinc-10 */
  --color-gray-200: oklch(0.92 0.004 286.32); /* --color-zinc-20 */
  --color-gray-300: oklch(0.871 0.006 286.286); /* --color-zinc-30 */
  --color-gray-400: oklch(0.705 0.015 286.067); /* --color-zinc-40 */
  --color-gray-500: oklch(0.552 0.016 285.938); /* --color-zinc-50 */
  --color-gray-600: oklch(0.442 0.017 285.786); /* --color-zinc-60 */
  --color-gray-700: oklch(0.37 0.013 285.805); /* --color-zinc-70 */
  --color-gray-800: oklch(0.274 0.006 286.033); /* --color-zinc-80 */
  --color-gray-900: oklch(0.21 0.006 285.885); /* --color-zinc-90 */
  --color-gray-950: oklch(0.141 0.005 285.823); /* --color-zinc-95 */

  --color-zinc-*: initial;
  --color-slate-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;

  --radius-4xl: 2rem;
}

@layer components {
  /* Keep typography links unstyled; Link components handle their own look. */
  .prose a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
  }
}

.mapbox-gl-draw_ctrl-draw-btn.active {
  @apply bg-fuchsia-600/10!;
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  @apply bg-white/20! leading-tight;
}
