# IMPORTANT:
#   Please edit only the .env file located in the root directory.
#   The /app/.env file is automatically overwritten every time you run `npm run dev`s.

# === Environment variables for /processing ===

# This file is only used during development.
# Staging/Production data is at https://github.com/FixMyBerlin/tilda-geo/settings/environments

ENVIRONMENT=development

# Database secrets
DATABASE_HOST=db
DATABASE_USER=postgres
DATABASE_NAME=postgres
DATABASE_PASSWORD=mysecretpassword

# Application flags
# REMINDER: You need to `docker compose up -d` to trigger updated flags in Docker
# Geofabrik OAuth credentials (automatically enables internal download mode when both are provided)
PROCESS_GEOFABRIK_OAUTH_OSM_USERNAME=your-osm-username
PROCESS_GEOFABRIK_OAUTH_OSM_PASSWORD=your-osm-password
# Use the "-internal" files when OAUTH credentials are present, see https://osm-internal.download.geofabrik.de/
PROCESS_GEOFABRIK_DOWNLOAD_URL=https://osm-internal.download.geofabrik.de/europe/germany/brandenburg-latest-internal.osm.pbf
# PROCESS_GEOFABRIK_DOWNLOAD_URL=https://download.geofabrik.de/europe/germany/berlin-latest.osm.pbf
SKIP_DOWNLOAD=1 # skips the download if a file already exists
SKIP_UNCHANGED=1 # skips processing of unchanged code
SKIP_WARM_CACHE=1 # skips cache warming, DEV only
WAIT_FOR_FRESH_DATA=0 # waits till the given file is from today
ID_FILTER='' # if not empty only the objects with these ids are processed. Example: `w123 w234`. See https://docs.osmcode.org/osmium/latest/osmium-getid.html
PROCESSING_DIFFING_MODE=previous # off | previous | fixed – Enable diffing and set comparison mode
PROCESSING_DIFFING_BBOX=12.0380,51.6361,14.7271,53.2118 # Berlin + Brandenburg – Required when diffing_mode != off
# PROCESS_ONLY_TOPICS=parking # Only process those topics; Format: "topic,topic2,topic3"
# PROCESS_ONLY_BBOX=13.4178,52.4681,13.4550,52.4817 # Only process this bbox; Format: MINLON,MINLAT,MAXLON,MAXLAT
# OSM2PGSQL_DEBUG_LEVEL=info # 'debug' or empty (defaults to 'info') https://osm2pgsql.org/doc/manual-v1.html#logging

# === Environment variables for /app ===
# Docs
# https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables

# NEXTJS
NEXT_PUBLIC_APP_ORIGIN=http://127.0.0.1:5173
NEXT_PUBLIC_APP_ENV=development # staging, production
SESSION_SECRET_KEY=12345678901234567890123456789012

# E-Mail – Only on the server
MAILJET_APIKEY_PUBLIC=''
MAILJET_APIKEY_PRIVATE=''

# MAP API KEYS (See Bitwarden "TILDA Secrets")
# Source: https://account.mapbox.com/access-tokens/cl7079ubp09vs3osbzaovy3ge
MAPBOX_STYLE_ACCESS_TOKEN='' # pk.foo…
# Source: https://account.mapbox.com/access-tokens/clewefi6l20053yp1x8xpvopi
MAPBOX_PARKING_STYLE_ACCESS_TOKEN='' # pk.bar…

# DEVELOPMENT
# Use 'staging' to serve tiles without fresh local data.
# However, this will create weird edge cases with verification which will be out of sync with your local DB.
# NEXT_PUBLIC_TILES_ENV='staging' # 'development', 'staging'
NEXT_PUBLIC_DO_NOT_NAVIGATE=true # Disable the navigation to fix HMR

# PRISMA
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:5432/${DATABASE_NAME}?schema=prisma
GEO_DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}/${DATABASE_NAME}?pool_timeout=0

# LOGIN (See Bitwarden "TILDA Secrets")
# LOGIN auf master.apis.dev.openstreetmap.org
# Docs https://wiki.openstreetmap.org/wiki/Sandbox_for_editing
OSM_CLIENT_ID=uglV_cJniuc96GQT0-rO6sXsgJPZfat8PLCfv91qRC4
OSM_CLIENT_SECRET=KA…
# LOGIN auf www.openstreetmap.org
# OSM_CLIENT_ID=AiBpJN0aTIXuEP07qjVHU8ksVfn62uKLnV1eoGyTWZU
# OSM_CLIENT_SECRET=Dg…

# StaticDatasets (See Bitwarden "TILDA Secrets")
# Needed for upload and download
S3_KEY=A…
S3_SECRET=o…
S3_REGION=eu-central-1
# See https://s3.console.aws.amazon.com/s3/buckets/atlas-private?region=eu-central-1&bucketType=general&tab=objects
S3_BUCKET=atlas-private

# Per Environment Config
# ENV: Development
ATLAS_API_KEY=m… # (See Bitwarden "TILDA Secrets")
# ENV: Staging
# ATLAS_API_KEY=m… # (See Bitwarden "TILDA Secrets")
# ENV: Production
# ATLAS_API_KEY=N… # (See Bitwarden "TILDA Secrets")

# Maproulette
# https://maproulette.org/user/profile for user `osm-verkehrswende-org`
MAPROULETTE_API_KEY=19361|5a3f1788-e18c-4d64-a343-f00bdf8e2bd7

# REMINDER:
# Update `/app/src/env.d.ts` whenever this file is changed.

# These can be empty. They are only needed for the ssl certs.
APP_URL=''
CACHELESS_URL=''
TILES_URL=''
