name: Deploy Processing to Ionos

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        type: string
        required: true
      TILES_URL:
        type: string
        required: true
      CONFIG_CHANGED:
        type: boolean
        required: true

jobs:
  diff_processing:
    uses: ./.github/workflows/diff-last-run.yml
    with:
      CHECK_DIFF_LOCATIONS: processing/ warm-cache/ processing.Dockerfile
  build_processing:
    runs-on: ubuntu-latest
    needs: diff_processing
    if: ${{ needs.diff_processing.outputs.changes == 'true' }}
    environment:
      name: ${{ inputs.ENVIRONMENT }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup AWS CLI
        run: |
          aws --version
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --bin-dir /usr/local/bin --install-dir /usr/local/aws-cli --update
          which aws
          aws --version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/n0p8j4k5/

      - name: Setup buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push processing image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./processing.Dockerfile
          push: true
          cache-from: |
            type=gha
            type=registry,ref=public.ecr.aws/n0p8j4k5/tilda/processing:${{ inputs.ENVIRONMENT }}-latest
          cache-to: |
            type=gha,mode=max
            type=registry,ref=public.ecr.aws/n0p8j4k5/tilda/processing:cache,mode=max
          tags: |
            public.ecr.aws/n0p8j4k5/tilda/processing:${{ github.sha }}
            public.ecr.aws/n0p8j4k5/tilda/processing:${{ inputs.ENVIRONMENT }}-latest
  restart_processing:
    runs-on: ubuntu-latest
    needs: [diff_processing, build_processing]
    if: ${{ needs.diff_processing.outputs.changes == 'true' || inputs.CONFIG_CHANGED && always() }}
    environment:
      name: ${{ inputs.ENVIRONMENT }}
      url: https://${{ inputs.TILES_URL }}
    steps:
      - name: Stop & Start containers on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          # Note on the "Cleanup docker"
          # There might be a race condition with the other github action as we are building app an processing in parallel
          # The 72h grace period should make sure nothing happend during the current build but old things get cleaned up
          script: |
            cd /srv
            echo "Pulling latest 'processing' image"
            docker compose pull processing
            echo "Restarting 'processing' container"
            docker compose up processing -d
            echo "Cleanup docker (containers and images) that are older than 72h"
            docker container prune -f --filter "until=72h"
            docker image prune -fa --filter "until=72h"
